server {
    listen 80;
    access_log  /var/log/nginx/todo-access.log;

    root /usr/share/nginx/www;
    index index.html index.htm;

    location = /app { rewrite ^ /app/; }
    location /app { try_files $uri @app; }
    location @app {
      include uwsgi_params;
      uwsgi_param SCRIPT_NAME /app;
      uwsgi_modifier1 30;
      uwsgi_pass unix:/tmp/uwsgi.sock;
    }

    location /todo {
        alias {{ root }}/todo-client/dist;
    }

    location /static {
        alias {{ root }}/todo-client/dist;
    }

    location / {
        autoindex on;
        try_files $uri $uri/ /index.html;
    }
}
