[uwsgi]
chdir = {{ root }}/todo-server
virtualenv = {{ root }}/venv/todo
processes = 4
threads = 1
socket = /tmp/uwsgi.sock
daemonize = /var/log/nginx/todo.log
vacuum = True
module = runserver
callable = app
